*{
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}
body{
 background-color: #0a0b36;
 font-family: druk wide bold, avenir;
}
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 100px 0px 100px;
}
nav{
 display: flex;
 
}
nav li {
 list-style-type: none;
 text-decoration: none;
}
.eclipse, li{
 margin-top: 12px;
}
nav ul{
 display: flex;
 gap: 40px;
}
nav a{
 text-decoration: none;
 font-family: avenir;
 color: #FFFFFF;
 
}
nav li:hover{
 text-decoration: underline;
 cursor: pointer;
}
.hamburger{
 display: none;
}
.button1{
 Width: 166px;
Height: 48px;
border-radius: 5px;
Padding: 12px, 24px, 12px, 24px;
background-color: #D9592A;
border: none;
color: #FFFFFF;
font-family: avenir;
font-weight: 500px;
font-size: 16px;
margin-left: 40px;
}
main{
 display: flex;
 justify-content: space-around;
}
.burnaBoy img{
 margin-top: 41px;
width: 100%;
height: auto;
opacity: 0.2;
margin-left: 34px;
}
.section2 h1{
 margin-top: 141px;
 width: 582px; ;
 font-size: 32px;
 line-height: 55px;
 font-family: Druk wide bold;
 font-weight: 700px;
 border: 2px solid red;
}
.section2 {
 color: #ffffff;
 padding-left: 50px;
}
.section2 p{
 width: 566px; 
 opacity: 80%;
 font-size: 18px;
 font-weight: 400px;
 font-family: avenir;
 border: 2px solid green;
 margin-top: 16px;
}
.section2 .text{
 width: 391px;
 height: 48px;
 border-radius: 5px;
 background-color: #CDCBD6;
 Padding: 11px, 16px, 11px, 16px;
 border: 2px solid violet;
}
.section2 .text::placeholder{
 color:#4F4F4F;
 font-size: 16px;
 line-height: 27px;
 font-family: avenir;
 padding-left: 16px;
 opacity: 50%;
 letter-spacing: 1%;
 line-height: 27px;
 font-weight: 400px;
}
.section2 .button2{
 background-color: #D9592A;
 border: none;
 width: 146px;
 height: 48px;
 margin-left: 10px;
 border-radius: 5px;
 padding: 12px 24px;
 color: #FFFFFF;
 border: none;
 outline: none;
}
.section2 .form2{
 margin-top: 40px;
}
.subburna{
 width: 369px;
 height: 107px;
 border-radius: 5px;
 background-color: rgba(196, 196, 196, 0.05);
 position: absolute;
 right: 178px;
 top: 330px;
}
.subsubburna{
 width: 353px;
 height: 89px;
 margin-top: 8px;
 margin-left: 8px;
background-color: rgba(196, 196, 196, 0.05);
}
.artistsec{
 display: flex;
 padding: 0px;
 text-align: center;
 padding-top: 16px;
 padding-left: 16px;
}
.locsec{
 display: flex;
 text-align: center;
 padding-left: 16px;
}
.loc{
 font-size: 18px;
 font-family: avenir;
 font-weight: 400px;
 opacity: 60%;
}
.bu{
 margin-left: 8px;
 font-family: avenir;
 font-weight: 800px;
 font-size: 18px;
 color: #FFFFFF;
}
 .get{
 margin-top: 52px;
 margin-left: auto;
 margin-right: auto;
 width: 122px;
 height: 48px;
 background-color: #341F8F;
 border-radius: 5px;
 font-family: avenir;
 font-weight: 500px;
 letter-spacing: 0.01em;
 color: #ffffff;
 font-size: 16px;
 line-height: 24px;
 margin-left: 100px;
 border: none;
} 
@media screen and (max-width:820px) {
 nav{
  display: none;
 }
 .hamburger{
  display: block;
 }
 header{
  padding:15px 30px 0px 30px;
 }
 main{
  display: flex;
  flex-direction: column;
 }
 .section2{
  padding-left: 30px;
 }
 .section2 h1{
  margin-top: 40px;
  max-width: 400px;
  max-height: 165px;
  font-size: 24px;
  line-height: 30px;
  font-family: Druk wide bold;
  font-weight: 700px;
  border: 2px solid red;
 }
 .section2 p{
  max-width: 300px;
  max-height: 115px;
  opacity: 80%;
  font-size: 16px;
  font-weight: 400px;
  font-family: avenir;
  border: 2px solid green;
 }
 .subburna{
  position: absolute;
 /* left: 40px; */
 left: 100px;
 top: 630px;
 }
}


/* .section2{
 padding-left: 100px;
 /* width: 100%; 
}
/* .subsection2{
 display: flex;
 color: #ffffff;
}
.subsection2 h1{
 margin-top: 141px;
 width: 582px;
 height: 165px;
 font-size: 32px;
 line-height: 55px;
 font-family: Druk wide bold;
 font-weight: 700px;
 border: 2px solid red;
}
.subsection2, .afro{
 max-width: 566px;
 max-height: 77px;
 margin-top: 16px;
 opacity: 80%;
 font-size: 18px;
 font-weight: 400px;
 font-family: avenir;
 line-height: 27px;
 letter-spacing: 0.01em;
}
.form2{
 padding-top: 41px;
}
.text{
 width: 391px;
 height: 48px;
 border-radius: 5px;
 /* margin-left: 99px; 
 background-color: #CDCBD6;
 /* Padding: 11px, 16px, 11px, 16px
}
.text::placeholder{
 color:#4F4F4F;
 font-size: 16px;
 line-height: 27px;
 font-family: avenir;
 padding-left: 16px;
 opacity: 50%;
 letter-spacing: 1%;
 line-height: 27px;
 font-weight: 400px;
}
.button2{
 background-color: #D9592A;
 border: none;
 width: 146px;
 height: 48px;
 margin-left: 10px;
 border-radius: 5px;
 padding: 12px 24px;
 color: #FFFFFF;
 border: none;
 outline: none;
}
.burnasection{
 width: 716px;
 height: 545px;
 background-color: #040309;
 opacity: 20%;
 border-radius: 10px 0px 0px 10px;
 margin-top: 41px;
 position: absolute;
 right: 0px;
 background-image: url(/assest/Container.png);
 mix-blend-mode: normal;
}

styling of the footer section
.section3{
 width: 2100px;
 height: 120px;
 background-image: url(/assest/AFROSOUND.png);
 background-repeat: repeat;
 margin-top: 600px;
 background-size: 600px;
 width: 100%;
}
.footer{
 background-color:#0A0B36;
 padding-left: 99px;
 opacity: 60%;
 height: 70px;
}
.footer a{
 color: #FFFFFF;
 text-decoration: none;
 font-size: 12px;
 line-height: 16.39px;
 font-weight: 800px;
 display: flex;
 font-family: Avenir;
}
.footer ul{
 display: flex;
 gap: 24px;
}
.footer li{
 list-style-type: none;
 margin-top: 70px;
}
.footer p{
 font-size: 14px;
 font-weight: 500px;
 line-height: 23.19px;
 text-align: right;
 color: #E8E9EB;
 /* padding-right: 30px; */
 /* font-family: avenir; */
}
/* 
.footer h6{
 color: rgba(255, 255, 255, 0.5);
 font-size: 12px;
 font-family: avenir; 
} */ */

/*  mobile responsive */
/* @media screen and (max-width:768px) {

 .hamburger{
  display: block;
  fill: red;
 }
 .header{
  gap: 300px;
 }
 .navbar{
  display: none;
 }
 .section1{
  padding: 7.5px 30px 0px 40px;
  border: 2px solid red;

 }
 .section2{
  padding-left: 40px;
  /* max-width: 768px;
  display: block;
  border: 2px solid green;
 }
 .subsection2{
  display: block;
  color: #ffffff;
  /* max-width: 600px;
 }
 .subsection2 h1{
  margin-top: 0px;
  width: 600px;
  height: 200px;
  font-size: 30px;
  font-family: Druk wide bold;
  font-weight: 600px;
  border: 2px solid red;
 }
 .subsection2, .afro{
  width: 550px;
  height: 300px;
  margin-top: 20px;
  opacity: 80%;
  font-size:18px;
  font-weight: 200px;
  font-family: avenir;
 }
 .form2{
  /* margin-top: 15px;
 }
 .text{
  width: 150px;
  height: 24px;
  border-radius: 5px;
  /* margin-left: 99px; 
  background-color: #CDCBD6;
  Padding: 5.5px, 8px;
 }
 .text::placeholder{
  color:#4F4F4F;
  font-size: 10px;
  line-height: 13.5px;
  font-family: avenir;
  padding-left: 5px;
  /* opacity: 50%;
  letter-spacing: 1%; 
  font-weight: 150px;
 }
 .button2{
  background-color: #D9592A;
  border: none;
  width: 90px;
  height: 24px;
  margin-left: 3px;
  border-radius: 5px;
  padding: 6px 6px;
  color: #FFFFFF;
  border: none;
  outline: none;
 }
 .burnasection{
  max-width: 400px;
  max-height: 400px;
  background-color: #040309;
  opacity: 20%;
  border-radius: 10px 0px 0px 10px;
  /* margin-top: 15px; */
  /* position: absolute; 
  left: 20px;
  background-image: url(/assest/Container.png);
  background-size: cover;
  mix-blend-mode: normal;
 }
 .subburna{
  width: 180px;
  height: 53px;
  border-radius: 5px;
  margin-top: 200px;
  margin-left: 110px;
  background-color: rgba(196, 196, 196, 0.05);
 }
 .subsubburna{
  width: 175px;
  height: 45px;
  margin-top: 4px;
  margin-left: 4px;
 background-color: rgba(196, 196, 196, 0.05);
 }
 .artistsec{
  /* display: flex; 
  text-align: center;
  padding-top: 8px;
  padding-left: 8px;
 }
 .locsec{
  /* display: flex; 
  text-align: center;
  padding-left: 8px;
 }
 .loc{
  font-size: 9px;
  font-family: avenir;
  font-weight: 200px;
  opacity: 60%;
 }
 .bu{
  margin-left: 4px;
  font-family: avenir;
  font-weight: 400px;
  font-size: 9px;
  color: #FFFFFF;
 }
 .get{
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  width: 61px;
  height: 24px;
  background-color: #341F8F;
  border-radius: 5px;
  font-family: avenir;
  font-weight: 250px;
  letter-spacing: 0.01em;
  color: #ffffff;
  font-size: 10px;
  line-height: 12px;
  margin-left: 50px;
  border: none;
 }
 
 /* styling of the footer section 
 .section3{
  /* width: 2100px; 
  height: 100px;
  background-image: url(/assest/AFROSOUND.png);
  background-repeat: repeat;
  margin-top: 650px;
  background-size: 300px;
  width: 100%;
 }
 .footer{
  background-color:#0A0B36;
  padding-left: 45px;
  opacity: 60%;
  height: 35px;
 }
 .footer a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 6px;
  line-height: 16.39px;
  font-weight: 400px;
  /* display: flex; 
  font-family: Avenir;
 }
 .footer ul{
  /* display: flex;
  gap: 12px;
 }
 .footer li{
  list-style-type: none;
  margin-top: 35px;
 }
 
 .footer p{
  font-size: 7px;
  font-weight: 250px;
  line-height: 12px;
  text-align: right;
  color: #E8E9EB;
  /* padding-right: 30px;
  font-family: avenir;
 }
 
 .footer h6{
  color: rgba(255, 255, 255, 0.5);
  font-size: 6px;
  font-family: avenir;
 }
} */