*{
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}
body{
 background-color: #0a0b36;
 font-family: druk wide bold, avenir;
}
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 100px 0px 100px;
}
nav{
 display: flex;
 
}
nav li {
 list-style-type: none;
 text-decoration: none;
}
.eclipse, li{
 margin-top: 12px;
}
nav ul{
 display: flex;
 gap: 40px;
}
nav a{
 text-decoration: none;
 font-family: avenir;
 color: #FFFFFF;
 
}
nav li:hover{
 text-decoration: underline;
 cursor: pointer;
}
.hamburger{
 display: none;
}
.button1{
 Width: 166px;
Height: 48px;
border-radius: 5px;
Padding: 12px, 24px, 12px, 24px;
background-color: #D9592A;
border: none;
color: #FFFFFF;
font-family: avenir;
font-weight: 500px;
font-size: 16px;
margin-left: 40px;
}
main{
 display: flex;
 justify-content: space-around;
}

.section2 h1{
 margin-top: 141px;
 width: 582px; ;
 font-size: 32px;
 line-height: 55px;
 font-family: Druk wide bold;
 font-weight: 700px;
}
.section2 {
 color: #ffffff;
 padding-left: 100px;
}
.section2 p{
 width: 566px; 
 opacity: 80%;
 font-size: 18px;
 font-weight: 400px;
 font-family: avenir;
 margin-top: 16px;
 line-height: 27px;
}

/* STYLING OF THE THE FORM WITH THE INPUT TEXT */
.section2 .text{
 width: 391px;
 height: 48px;
 border-radius: 5px;
 background-color: #CDCBD6;
 border: none;
 padding: 5px 5px 5px 16px;
 font-size: 16px;
 line-height: 27px;
 font-family: avenir;
 font-family: avenir;
 opacity: 50%;
 font-weight: 400px;
 color:#4F4F4F;
}
.section2 .button2{
 background-color: #D9592A;
 border: none;
 width: 146px;
 height: 48px;
 margin-left: 10px;
 border-radius: 5px;
 padding: 12px 24px;
 color: #FFFFFF;
 border: none;
 outline: none;
}
.section2 .form2{
 margin-top: 40px;
}

/* THIS IS THE STYLING OF THE CONTAINER INSIDE THE BURNA BOY IMAGE */
.burnaBoy img{
margin-top: 41px;
max-width: 100%;
height: auto;
opacity: 0.2;
margin-left: 120px;
}
.subburna{
 width: 369px;
 height: 107px;
 border-radius: 5px;
 background-color: rgba(196, 196, 196, 0.05);
 position: absolute;
 right: 175px;
 top: 290px;
}
.subsubburna{
 width: 353px;
 height: 89px;
 margin-top: 8px;
 margin-left: 8px;
background-color: rgba(196, 196, 196, 0.05);
}
.artistsec{
 display: flex;
 padding: 0px;
 text-align: center;
 padding-top: 16px;
 padding-left: 16px;
}
.locsec{
 display: flex;
 text-align: center;
 padding-left: 16px;
}
.loc{
 font-size: 18px;
 font-family: avenir;
 font-weight: 400px;
 opacity: 60%;
 color: #FFFFFF;
}
.bu{
 margin-left: 8px;
 font-family: avenir;
 font-weight: 800px;
 font-size: 18px;
 color: #FFFFFF;
}
 .get{
 margin-top: 52px;
 margin-left: auto;
 margin-right: auto;
 width: 122px;
 height: 48px;
 background-color: #341F8F;
 border-radius: 5px;
 font-family: avenir;
 font-weight: 500px;
 letter-spacing: 0.01em;
 color: #ffffff;
 font-size: 16px;
 line-height: 24px;
 margin-left: 100px;
 border: none;
}
/* THIS IS THE FOOTER STYLING */
footer{
  height: 100px;
  background-image: url(/assest/AfroSoundBG.svg);
  margin-top: 40px;
  background-size: 1000px;
}
 .footer{
  background-color:#0A0B36;
  padding-left: 100px;
  opacity: 60%;
  height: 35px;
 }
 .footer a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 6px;
  line-height: 16.39px;
  font-weight: 400px;
  display: flex; 
  font-family: Avenir;
 }
 .footer ul{
  display: flex;
  gap: 12px;
 }
 .footer li{
  list-style-type: none;
  margin-top: 60px;
 }
 
 .footer p{
  font-size: 7px;
  font-weight: 250px;
  line-height: 12px;
  text-align: right;
  color: #E8E9EB;
  padding-right: 30px;
  font-family: avenir;
 }
 
 .footer h6{
  color: rgba(255, 255, 255, 0.5);
  font-size: 6px;
  font-family: avenir;
 }



 @media screen and (max-width:820px) {
 nav{
  display: none;
 }
 .hamburger{
  display: block;
 }
 header{
  padding:15px 30px 0px 30px;
 }
 main{
  display: flex;
  flex-direction: column;
 }
 .section2{
  padding-left: 30px;
 }
 .section2 h1{
  margin-top: 30px;
  width: auto;
  height: 165px;
  font-size: 28px;
  line-height: 40px;
 }
 .section2 p{
  width: auto;
  /* height: 130px; */
  opacity: 80%;
  font-size: 16px;
  line-height: 23px;
 }
 .section2 .form2{
  margin-top: 20px;
 }
 .form2 .button2{
 margin-top: 15px;
 }
 .subburna{
  position: absolute;
 left: 110px;
 top: 590px;
 }
 .burnaBoy img{
  margin-top: 21px;
 max-width: 100%;
 margin-left: 0px;
}
.subburna{
 width: 200px;
 height: 90px;
 border-radius: 5px;
 background-color: rgba(196, 196, 196, 0.05);
 position: absolute;
}
.subsubburna{
 width: 200px;
 height: 85px;
 margin-top: 8px;
 margin-left: 8px;
background-color: rgba(196, 196, 196, 0.05);
}
.get{
 margin-left: 50px;
}
.section2 .text{
 width: 300px;
}
.footer{
 padding-left: 30px;
}
}